<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ExceldataEntities" connectionString="metadata=res://*/Data.exceldata.csdl|res://*/Data.exceldata.ssdl|res://*/Data.exceldata.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USER1-PC;initial catalog=Exceldata;user id=sa;password=IcsR@123#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ICSRDBTALLYEntities" connectionString="metadata=res://*/TallyDb.TallyDb.csdl|res://*/TallyDb.TallyDb.ssdl|res://*/TallyDb.TallyDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USER1-PC;initial catalog=ICSRDBTALLY;user id=sa;password=IcsR@123#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>